.orders table{
    width: 100%;

    thead{
        background-color: #000;
        color: #fff;
        th{
            padding: 10px;
        }
    }
    tr{
        td{
            padding: 10px;
            border-bottom: solid 1px #f0f0f0;
        }
    }
}