.checkout-form{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #ddd;
        padding: 50px;
    
        form{
            width: 60%;
            margin: auto;

            > div{
                display: flex;
                flex-direction: column;
                padding: 10px;
            }
             Input{
                  height: 40px;
                  border: 1px solid #c0c0c0;
                 }
            button{
                cursor: pointer;
                height: 40px;
            }
        }
        .close-icon{
            position: absolute;
            right: 10px;
            top: 0;
            font-size: 20px;
            cursor: pointer;
        }
    }